<div class="cintainer">
    <div class="row">
        <div class="col text-center">
            <img src="img/iqbal.jpg" alt="Muhammad Iqbal" class="img-thumbnail rounded-circle mt-3" width="200">
            <h1 class="display-4">Muhammad Iqbal</h1>
            <p class="lead">Programmers</p>
        </div>
    </div>
</div>